RewriteEngine on

# FORCE HTTPS
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# REDIRECT WWW TO NON-WWW
RewriteCond %{HTTP_HOST} !^ronco.marcofugaro.it$ [NC]
RewriteRule ^(.*)$ https://ronco.marcofugaro.it/$1 [L,R=301]}
